.form
  = form_for @closing_day do |f|
    = f.text_field :date ,id: 'date', class: "materialize-textarea col s8 offset-s1", placeholder: '締日'
    = f.submit '登録', class: 'waves-effect waves-light btn col s2 offset-s5'