.form
  = form_for @client_cat do |f|
    = f.text_field :category ,id: 'cat', class: "materialize-textarea col s8 offset-s1", placeholder: '顧客区分'
    = f.submit '登録', class: 'waves-effect waves-light btn col s2 offset-s5'