.col.s9.push-s1
  .main.show#on-progress
    %table.striped
      %tbody
        %tr
          %td
            %p
              株式会社A　大阪支店
            %p
              終了日　◯◯月△△日
              %span
                進行中
            %p
              見積
            %p
              詳細内容
          %td
            %a.waves-effect.waves-light.btn-large
              詳細
        %tr
          %td
            %p
              株式会社A　東京本社
            %p
              終了日　◯◯月△△日
              %span
                進行中
            %p
              DM送付
            %p
              詳細内容
          %td
            %a.waves-effect.waves-light.btn-large
              詳細
  .main#client-search
    -# %input#company-search(type: "text",placeholder: "会社名で検索")
    - @clients.each do |client|
      %table.striped
        %tbody
          %tr
            %td
              %p
                =client.company_name1
              %p
                =client.addr1
              %p
                =client.tel
            %td
              = link_to '詳細',client_path(client.id)
              -# %a.waves-effect.waves-light.btn-large
                詳細
  .main#action-search
    %table.striped
      %tbody
        %tr
          %td
            %p
              株式会社A　大阪支店
            %p
              終了日　◯◯月△△日
              %span
                完了
            %p
              見積
            %p
              詳細内容
          %td
            %a.waves-effect.waves-light.btn-large
              詳細
        %tr
          %td
            %p
              株式会社A　東京本社
            %p
              終了日　◯◯月△△日
              %span
                進行中
            %p
              DM送付
            %p
              詳細内容
          %td
            %a.waves-effect.waves-light.btn-large
              詳細