.form
  = form_for @act_cat do |f|
    = f.text_field :method ,id: 'method', class: "materialize-textarea col s8 offset-s1", placeholder: 'アクション区分'
    = f.submit '登録', class: 'waves-effect waves-light btn col s2 offset-s5'