%nav
  .nav-wrapper
    %a.brand-logo{href: "/"} Customer Star
    %ul#nav-mobile.right.hide-on-med-and-down
      %li
        - if user_signed_in?
          =link_to 'ログアウト',destroy_user_session_path,method: :delete
      %li
        = link_to '設定',client_cats_path
      %li
        %a{href: "/"} 管理者メニュー